{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Test</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>
	<script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css">
	{# Load the tag library #}
	{% load bootstrap3 %}

	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	<style type="text/css">
	.black-background{
		background-color: #E04410;
	}
	.black-text{
		font-size: 18px !important;
	}
	.pad-top{
		padding-top: 10%;
	}
	.pad-bottom{
		padding-bottom: 10%;
		z-index: 10;
		position: relative;
	}
	.layer-index{
		position: fixed;
		z-index: 1;
	}
	.background{
		background-color: #FFFFFF !important;
		opacity: 0.95;
	}
	#image-head{
		position: absolute;
		width: 100%;
		height: 800px;
	}
	.sizing{
		width: 340px;
		height: 200px;
	}
	.bg-color-long{
		background-color: #DEDEDE;
		border-radius: 25px;
		position: absolute;
	}
	@media (max-width: 992px) {
		.bg-color-long{
		background-color: #DEDEDE;
		border-radius: 25px;
		position: relative;
		}
	}
	</style>
</head>
<body>
	<nav class="navbar navbar-default black-background">
	  <div class="container container-fluid">
	    <div class="navbar-header">
	        <a href="/"><h1>CatCen</h1></a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="active">
    			<a class="black-text" href="/chinesetable_list">List Restautants</a>
    		</li>
    		<li class="active">
    			<a class="black-text" href="#">Contact Us</a>
    		</li>
    	  </ul>
	  </div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>You searched for: <strong>{{ query }}</strong></p>
				Price {{price_start}} - {{price_end}}
			{% if places %}
		    	<p>Found {{ places|length }} book{{ places|pluralize }}.</p>
		    </div>
		    <div class="col-md-3">
		    	
		    </div>
		    <div class="col-md-3">
			    <div class="btn-group" role="group">
			    	<div class="dropdown">
			    			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    					ราคาเริ่มต้น
	    					 <span class="caret"></span>
	    					</button>
	    				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    			<li><a href="{{ url_order_by_pren_asc }}" title="">จากราคาต่ำไปสูง</a></li>
			   	 			<li><a href="{{ url_order_by_pren_desc }}" title="">จากราคาสูงไปต่ำ</a></li>
			   	 		</ul>
			   	 	</div>
			   	 </div>
			   	<div class="btn-group" role="group">
			   	 	<div class="dropdown">
			    			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    					ราคาสิ้นสุด
	    					 <span class="caret"></span>
	    					</button>
	    				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    			<li><a href="{{ url_order_by_prst_asc }}" title="">จากราคาต่ำไปสูง</a></li>
			   	 			<li><a href="{{ url_order_by_prst_desc }}" title="">จากราคาสูงไปต่ำ</a></li>
			   	 		</ul>
			   	 	</div>
			   	</div>
		    </div>
	    </div>
    		<div class="col-md-3 bg-color-long">
			  <form id="form-search" method="GET" action="/search" class="submit-form" role="search">
		    	{% csrf_token %}
		        <div class="col-md-12">
		        	<p></p>
		        	<label>จังหวัดที่ต้องการจัดงาน</label>
		          	<input id="province" type="text" name="placeText" class="form-control" placeholder="Search">
		        </div>
		        <div class="col-md-12">
		        	<label>ต้องการจองวันที่</label>
			        <div class="input-group date" id="datetimepicker" data-provide="datepicker">
					    <input type="text" class="form-control">
					    <div class="input-group-addon">
					        <span class="glyphicon glyphicon-th"></span>
					    </div>
					</div>
				</div>
		        <div class="col-md-12 form-group">
		        	<label>ราคาตั้งแต่ (ต่อ1โต๊ะ)</label>
		          	<input type="number" name="price_start" class="form-control" placeholder="">
		        </div>
		        <div class="col-md-12 form-group">
		        	<label>จนถึง</label>
		          	<input type="number" name="price_end"  class="form-control" placeholder="">
		        </div>
		        <div class="col-md-12 form-group">
		        	<input id="submit-request" type="submit" class="btn btn-success btn-block" value="Submit">
		        </div>
      		</form>			
    	</div>
    	{% if order == 'price_start_asc' %}
    		{% for place in places|dictsort:"price_start_number" %}
		    <div class="row">
		    	<div class="col-md-4">
					
		    	</div>
		    	<div class="col-md-4">
		    		<img src="{% static place.filename %}" class="img-thumbnail sizing" alt="140x140">
		    	</div>
		    	<div class="col-md-4">
		    		<p>
		    		<label>{{place.title_text}}</label>
		    		<label>{{place.setmenu.setMenu_number}}</label>
		    		<p><label>ช่วงราคา : {{place.price_start_number}} - {{place.price_end_number}}</label>
		    		<p><label>สถานที่ที่ให้บริการ : {{place.place_for_service_text}}</label>
		    		<p><label>สถานที่ตั้ง : {{place.location_text}}</label>
		    		{% for menu in setmenu|slice:":1" %}
			    			{% if menu.chinesetable_id == place.id %}
					    	<div>
					    		<p><label>ชุดอาหารเริ่มต้น : </label>
								<label> {{ menu.setMenu_number }} {{ menu.setMenu_name }} ราคา {{ menu.setMenu_price }} บาท</label> 
								<p>
								<label> เมนูอาหาร : {{ menu.setMenu_detail }} </label>
							</div>
							{% endif %}
					{% endfor %}				
		    	</div>
		    </div>
		    <p>
	    	{% endfor %}
	    {% endif %}
    	{% if order == 'price_start_desc' %}
    		{% for place in places|dictsortreversed:"price_start_number" %}
		    <div class="row">
		    	<div class="col-md-4">
					
		    	</div>
		    	<div class="col-md-4">
		    		<img src="{% static place.filename %}" class="img-thumbnail sizing" alt="140x140">
		    	</div>
		    	<div class="col-md-4">
		    		<p>
		    		<label>{{place.title_text}}</label>
		    		<label>{{place.setmenu.setMenu_number}}</label>
		    		<p><label>ช่วงราคา : {{place.price_start_number}} - {{place.price_end_number}}</label>
		    		<p><label>สถานที่ที่ให้บริการ : {{place.place_for_service_text}}</label>
		    		<p><label>สถานที่ตั้ง : {{place.location_text}}</label>
		    		{% for menu in setmenu|slice:":1" %}
			    			{% if menu.chinesetable_id == place.id %}
					    	<div>
					    		<p><label>ชุดอาหารเริ่มต้น : </label>
								<label> {{ menu.setMenu_number }} {{ menu.setMenu_name }} ราคา {{ menu.setMenu_price }} บาท</label> 
								<p>
								<label> เมนูอาหาร : {{ menu.setMenu_detail }} </label>
							</div>
							{% endif %}
					{% endfor %}				
		    	</div>
		    </div>
		    <p>
	    	{% endfor %}
	    	{% endif %}
	    	{% if order == 'price_end_asc' %}
    		{% for place in places|dictsort:"price_end_number" %}
		    <div class="row">
		    	<div class="col-md-4">
					
		    	</div>
		    	<div class="col-md-4">
		    		<img src="{% static place.filename %}" class="img-thumbnail sizing" alt="140x140">
		    	</div>
		    	<div class="col-md-4">
		    		<p>
		    		<label>{{place.title_text}}</label>
		    		<label>{{place.setmenu.setMenu_number}}</label>
		    		<p><label>ช่วงราคา : {{place.price_start_number}} - {{place.price_end_number}}</label>
		    		<p><label>สถานที่ที่ให้บริการ : {{place.place_for_service_text}}</label>
		    		<p><label>สถานที่ตั้ง : {{place.location_text}}</label>
		    		{% for menu in setmenu|slice:":1" %}
			    			{% if menu.chinesetable_id == place.id %}
					    	<div>
					    		<p><label>ชุดอาหารเริ่มต้น : </label>
								<label> {{ menu.setMenu_number }} {{ menu.setMenu_name }} ราคา {{ menu.setMenu_price }} บาท</label> 
								<p>
								<label> เมนูอาหาร : {{ menu.setMenu_detail }} </label>
							</div>
							{% endif %}
					{% endfor %}				
		    	</div>
		    </div>
		    <p>
	    	{% endfor %}
	    	{% endif %}
	    	{% if order == 'price_end_desc' %}
    		{% for place in places|dictsort:"price_end_number" %}
		    <div class="row">
		    	<div class="col-md-4">
					
		    	</div>
		    	<div class="col-md-4">
		    		<img src="{% static place.filename %}" class="img-thumbnail sizing" alt="140x140">
		    	</div>
		    	<div class="col-md-4">
		    		<p>
		    		<label>{{place.title_text}}</label>
		    		<label>{{place.setmenu.setMenu_number}}</label>
		    		<p><label>ช่วงราคา : {{place.price_start_number}} - {{place.price_end_number}}</label>
		    		<p><label>สถานที่ที่ให้บริการ : {{place.place_for_service_text}}</label>
		    		<p><label>สถานที่ตั้ง : {{place.location_text}}</label>
		    		{% for menu in setmenu|slice:":1" %}
			    			{% if menu.chinesetable_id == place.id %}
					    	<div>
					    		<p><label>ชุดอาหารเริ่มต้น : </label>
								<label> {{ menu.setMenu_number }} {{ menu.setMenu_name }} ราคา {{ menu.setMenu_price }} บาท</label> 
								<p>
								<label> เมนูอาหาร : {{ menu.setMenu_detail }} </label>
							</div>
							{% endif %}
					{% endfor %}				
		    	</div>
		    </div>
		    <p>
	    	{% endfor %}
	    	{% endif %}
	{% else %}
	    <p>No books matched your search criteria.</p>
	{% endif %}
	</div>
	
</body>